$shadow: 0 2px 2px 0px rgba(0, 0, 0, .15);

body {
    background: white;
    font-family: Helvetica, Arial, sans-serif;
    color: #444;
}

* { box-sizing: border-box; }

#wrapper {
    margin: 20px auto;
    max-width: 1080px;
    padding: 0 18px;
    width: 100%;
}

nav.menu {
    display: flex;
    justify-content: space-around;

    margin: 20px 0;
    text-align: center;
    .button { flex: 1; }
}

.button {
    display: inline-block;
    color: white;
    background-color: #3a4252;
    padding: 12px;
    cursor: pointer;
    transition: background-color .3s;
    text-decoration: none;
    border-left-color: lighten(#3a4252, 10%);
    &:not(:first-child) { border-left: 1px solid rgba(255, 255, 255, .05); }
    &:hover, &.active { background-color: #506590; }
}
.buttons-group {
    display: inline-block;
    border-radius: 100px;
    box-shadow: $shadow;

    .button:first-child { border-radius: 100px 0 0 100px; }
    .button:last-child { border-radius: 0 100px 100px 0; }
    }

.hp {
    &_films {
        list-style: none;
        padding: 0; margin: 0;
        .film {
            display: inline-block;
            width: 33.333334%;
            padding: 12px;
            height: 270px;
            margin-right: -1px;
            margin-top: -1px;
            vertical-align: top;
            border: 1px solid #ededed;

            h2 { margin: 0;}
        }
    }
}

.hp_filters {
    .buttons-group .reverse { padding-left: 16px; padding-right: 16px; margin-left: -8px; border-left: none;}
}

label.form-input {
    display: block;
    margin: 8px 0;
    span { display: inline-block; width: 200px; }
}